

.button {
    background-color: rgb(158, 140, 238);
    border-radius: 5px;
    border-width: 2px;
    border-color: rgb(134, 110, 241);
    ;
    cursor: pointer;
}

.todoOverview {
    padding: 30px;
    background-color: rgb(215, 208, 247);
}